.user-setting {
  background-color: var(--seventh-color);
  padding-bottom: 60px;

  .verify-email-banner {
    background-color: #ffffcc;
    border-radius: 10px;
    max-width: 600px;
    padding: 16px;

    @media(max-width: 575px) {
      padding: 12px 8px;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }
  }

  .user-info-wrapper {
    max-width: 600px;
    margin: 32px auto 0 auto;

    .user-info-form {
      background-color: white;
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 30px;

      @media(max-width: 575px) {
        padding: 20px 8px;
      }
    }
  }
}
