.change-template {
  .change-template-header {
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    .close-btn {
      color: var(--first-color) !important;
      font-size: 24;
      cursor: pointer;
      margin: auto;
      margin-left: 0;

      a {
        color: var(--first-color) !important;
      }
    }

    // .side-drawer-btn {}
  }

  .change-template-body {
    position: fixed;
    width: 100vw;
    display: flex;
    height: calc(100vh - 60px);

    .right-section {
      width: 30%;
      overflow-y: auto !important;
      direction: ltr;
      background-color: var(--sixth-color);
      padding: 8px;

      @media(max-width: 992px) {
        display: none;
      }

      .template-img {
        padding: 16px 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        // right: 0;
        background: var(--fourth-color);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--eighth-color);
        // border-radius: 4px;
      }
    }

    .left-section {
      width: 70%;
      padding-bottom: 40px;
      background-color: var(--fifth-color);

      @media(max-width: 992px) {
        width: 100%;
      }

      .pdf-wrapper {
        overflow-y: auto;
        width: 100%;

        .change-template-btn {
          display: none;
        }

        &::-webkit-scrollbar {
          width: 5px;
          // border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
          background: var(--fourth-color);
          // border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--eighth-color);
          // border-radius: 3px;
          // border: 2px solid white;
        }

        // .react-pdf__Page {
        //   height: 100%;
        canvas {
          border-radius: 0;
          width: 80% !important;
          height: auto !important;
          padding-bottom: 100px;

          @media (max-width: 768px) {
            width: 100% !important;
            height: auto !important;
          }
        }

        .pdf-skeleton {
          border-radius: 0;
          width: 80% !important;
          // height: auto !important;
          // padding-bottom: 100px;
          aspect-ratio: 600 / 848;

          @media (max-width: 768px) {
            width: 100% !important;
            aspect-ratio: 600 / 848;
            // height: auto !important;
          }
        }
      }
    }
  }

  .side-drawer {
    padding: 0 8px;

    .template-img {
      margin: 32px 20px;
    }
  }

  .backdrop {
    background-color: transparent;
  }
}
