.resume-list {
  padding-bottom: 40px;

  .warning-banner {
    background-color: #ffffcc;
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .template-img {
    width: 80%;
    aspect-ratio: 600/848;
  }
}
