.resume-complation {
  position: relative;

  .right-section {
    width: 50%;
    background-color: var(--seventh-color);
    padding-bottom: 32px;

    @media(max-width: 992px) {
      width: 100%;
    }

    .form-title {
      color: var(--eighth-color);
    }

    .form-wrapper {
      background-color: var(--first-color);
      padding: 20px 20px 20px;
      border-radius: 16px;
    }

    label {
      font-weight: 200 !important;
    }

    .warning-banner {
      background-color: #ffffcc;
      display: flex;
      justify-content: center;
      padding: 8px;
    }
  }

  .left-section {
    position: fixed;
    left: 0;
    width: 50%;
    background-color: var(--fifth-color);
    height: 100vh;
  }

  .modal-view {
    position: fixed;
    width: 100%;
    z-index: 910;
    background-color: var(--fifth-color);
    height: 100vh;
  }

  .left-section-skeleton {
    line-height: unset !important;
  }

  .review-button {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 900;
  }

  .exit-button {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 930;
  }
}

// .pdf-modal-content {
//   .review-button {
//     position: fixed;
//     left: 10px;
//     bottom: 10px;
//     z-index: 1001;
//   }
// }
// .pdf-viewer-wrapper {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   margin: auto;
//   width: 100%;
//   height: auto;
// }
