.custom-select {
  position: relative;
  width: 100%;

  .text-input {
    background-image: url("../../../assets/angle-down.webp");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-x: 13px;
    background-position-y: 13px;
  }

  .select-options {
    position: absolute;
    display: none;
    width: 100%;
    border-radius: 10px;
    border: 0.6px solid var(--second-color);
    z-index: 101;
    margin-top: 4px;
    background-color: var(--fourth-color);
    color: #333333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ul {
      list-style: none;
      padding: 10px 0 !important;
      margin: 0 !important;

      li {
        height: 29px;
        font-size: 14px;
        padding: 4px 16px;

        &:hover {
          background-color: var(--second-color-hover);
          color: var(--first-color);
        }
      }
    }
  }

  .show {
    display: block !important;
  }

  .backdrop {
    background-color: transparent;
  }
}
