.pdf-viewer-as-image {
  .react-pdf__Page {
    canvas {
      width: 100% !important;
      height: auto !important;
      margin: auto;
    }
  }

  .pdf-skeleton {
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    aspect-ratio: 600/848;
  }
}
